configure linguist-vendored
*.in linguist-vendored
compile linguist-vendored
configure linguist-vendored
depcomp linguist-vendored
install-sh linguist-vendored
missing linguist-vendored
aclocal.m4 linguist-vendored
autom4te.cache/** linguist-vendored

